@mixin green-title-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;

  &::before {
    content: "";
    z-index: 1;
    height: 3px;
    width: 100vw;
    position: absolute;
    top: 0.7em;
    background: $green;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      z-index: -1;
      height: 3px;
      width: 100vw;
      right: 0;
      position: absolute;
      top: 0.7em;
      background: $green;
    }
  }
}
