@mixin green-title ($size:24px, $line:24px) {
  position: relative;
  font-family: $font-design;
  font-size: $size;
  font-weight: 400;
  line-height: $line;
  color: rgb(17, 17, 17);
  text-align: left;

  &::after {
    content: "";
    height: 3px;
    margin-left: 25px;
    flex-grow: 1;
    background-color: $green;
    transform: translateY(4px);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    right: -100%;
    background-color: $green;
    transform: translateY(4px);
  }
}
