.additional-products {
  width: $mobile-width;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.additional-products__title {
  @include green-title;
  margin-bottom: 30px;
}

.additional-products__list {
  @include list-reset;
}

.additional-products__item {
  margin-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid $gray-205;

  &:nth-child(1) {
    border-top: 1px solid $gray-205;
  }
}

.additional-products__title-link {
  display: block;
  margin: 0;
  padding: 0;
}

.additional-products__name {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 10px;
  font-family: $font-design;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

.additional-products__wrap {
  @include flex-between;
}

.additional-products__volume {
  padding: 0;
  margin: 0;
  width: 140px;
  text-align: left;
  padding-bottom: 15px;

  @include font-main ($line:14px);
  color: $gray-font-main;
}

.additional-products__price {
  padding: 0;
  margin: 0;
  width: 140px;
  text-align: right;
  padding-bottom: 15px;

  @include font-main ($line:14px);
  color: $gray-font-main;
}

.additional-products__btn {
  margin-bottom: 18px;
}

//_________TABLET__________////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
@media (min-width: $tablet-width) {
  .additional-products {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
  }

  .additional-products__title {
    @include green-title ($size:36px, $line:36px);
    margin-bottom: 80px;
  }

  .additional-products__list {
    margin-bottom: 70px;
  }

  .additional-products__item {
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 28px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-products__name {
    padding: 0;
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__wrap {
    width: 230px;
    padding-bottom: 25px;
  }

  .additional-products__volume {
    padding: 0;

    @include font-main ($size:16px, $line:20px);
  }

  .additional-products__price {
    width: 50px;
    padding: 0;

    @include font-main ($size:16px, $line:20px);
  }

  .additional-products__btn {
    margin-bottom: 0;
    width: 100%;
  }
}

//_________DESKTOP___________/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
@media (min-width: $desktop-width) {
  .additional-products {
    margin-bottom: 181px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-products__list {
    margin-bottom: 0;
  }

  .additional-products__item {
    padding: 0;
    margin: 0;
    width: 895px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .additional-products__name {
    width: 245px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .additional-products__wrap {
    width: 285px;
    padding-bottom: 0;
  }

  .additional-products__price {
    width: 50px;
    padding: 0;
  }

  .additional-products__btn {
    width: 245px;
  }
}
