.advantages {
  margin-bottom: 40px;
}

.advantages__title {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  @include title ($size:36px, $line:60px);
  color: $gray-font-design;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  padding: 0;
  margin: 0;

  @include wrap;
  padding-left: 80px;
  margin-bottom: 25px;
  position: relative;

  @include font-main;
  color: $gray-font-main;

  &::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-position: 50%;
    background-color: $green;
  }
}

.advantages__item--sheet {
  &::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }
}

.advantages__item--glass {
  &::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }
}

.advantages__item--flatware {
  &::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }
}

.advantages__item--clock {
  &::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}
//
//
//
//
//
//_________TABLET__________////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//
//
//
//
// @media (min-width: $tablet-width) {

// }
//
//
//
//
//
//_________DESKTOP___________/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//
//
//
//
// @media (min-width: $desktop-width) {

// }
