.advantages {
  @include wrap-mobile;
  margin-bottom: 47px;
}

.advantages__title {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  @include title ($size:36px, $line:60px);
  color: $gray-font-design;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  padding: 0;
  margin: 0;
  padding-left: 80px;
  margin-bottom: 25px;
  position: relative;

  @include font-main;
  color: $gray-font-main;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: $green;
    background-size: 52px auto;
  }

<<<<<<< HEAD
  &--sheet {
    &::before {
      background-image: url("../../img/advantage-leaf@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../../img/advantage-leaf@2x.png");
        background-size: 52px auto;
      }
=======
.advantages__item--sheet {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 52px auto;
>>>>>>> origin
    }
  }

<<<<<<< HEAD
  &--glass {
    &::before {
      background-image: url("../../img/advantage-powder@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../../img/advantage-powder@2x.png");
        background-size: 52px auto;
      }
=======
.advantages__item--glass {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 52px auto;
>>>>>>> origin
    }
  }

<<<<<<< HEAD
  &--flatware {
    &::before {
      background-image: url("../../img/advantage-dining@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../../img/advantage-dining@2x.png");
        background-size: 52px auto;
      }
=======
.advantages__item--flatware {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 52px auto;
>>>>>>> origin
    }
  }

<<<<<<< HEAD
  &--clock {
    &::before {
      background-image: url("../../img/advantage-clock@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../../img/advantage-clock@2x.png");
        background-size: 52px auto;
      }
=======
.advantages__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 52px auto;
>>>>>>> origin
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    @include wrap;
    margin-bottom: 43px;
    border-bottom: $border-input;
  }

  .advantages__title {
    margin-bottom: 71px;

    @include title ($size:60px, $line:60px);
  }

  .advantages__list {
    @include flex-between ($justify: flex-start);
    margin-bottom: -31px;
  }

  .advantages__item {
    @include font-main ($size:16px, $line:24px);
    padding: 0;
    margin: 0;
    position: relative;
    width: 250px;
    padding-top: 112px;
    padding-bottom: 50px;
    margin-bottom: 83px;
    margin-right: 134px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &::before {
      position: absolute;
      width: 80px;
      height: 80px;
      top: 0;
      transform: translateY(0);
      left: 0;
      background-repeat: no-repeat;
    }

    &::after {
      content: "1";
      position: absolute;

      @include title ($size:281px, $line:281px);
      color: $background-color;
      top: -39px;
      right: 21px;
      z-index: -1;
    }

    &--glass {
      &::after {
        content: "2";
        right: 5px;
      }
    }

    &--flatware {
      &::after {
        content: "3";
        right: 3px;
      }
    }

    &--clock {
      &::after {
        content: "4";
        right: 1px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    border: none;
    margin-bottom: 17px;
  }

  .advantages__item {
    width: 248px;
    margin-bottom: 10px;
    margin-right: 77px;

    &:nth-child(2n+2) {
      margin-right: 73px;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }

    &::after {
      right: 20px;
    }

    &--glass {
      &::after {
        right: 3px;
      }
    }

    &--flatware {
      &::after {
        right: -2px;
      }
    }

    &--clock {
      &::after {
        right: -5px;
      }
    }
  }
}
