.before-after {
  background-color: $background-color;
  padding-top: 17px;
  padding-bottom: 35px;
}

.before-after__wrap-desc {
  @include wrap-mobile;
}

.before-after__title {
  display: block;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  @include title ($size:36px, $line:60px);
  color: $gray-font-design;
}

.before-after__desc {
  display: block;
  width: 266px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  @include font-main;
  color: $gray-font-main;
}

.before-after__container {
  @include flex-between;
  margin-bottom: 10px;
}

.before-after__table {
  position: relative;
  width: 125px;
  text-align: center;
  margin-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    width: 124px;
    height: 56px;
    border: 1px solid $gray-205;
    border-radius: 3px;
    top: -14px;
    left: 0;
  }
}

.before-after__table-desc {
  display: block;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  text-align: center;

  @include title;
  text-transform: uppercase;
  color: $gray-font-design;
}

.before-after__sub-desc {
  display: block;
  position: relative;
  z-index: 1;
  width: 88px;
  margin: 0 auto;
  padding: 0 13px;
  background-color: $background-color;

  @include font-main ($size:12px, $line:12px);
  color: $gray-font-main;
}

.before-after__price {
  display: block;
  text-align: center;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  @include title ($size:14px, $line:20px);
  text-transform: uppercase;
  color: $gray-font-design;
}

.before-after__slider {
  margin-bottom: 33px;
}

.before-after__img {
  margin: 0;
  padding: 0;
  display: none;
}

.before-after__img--before img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.before-after__img--after img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
}

.before-after__controls {
  width: 200px;
  position: relative;
  padding: 0;
  margin: 0 auto;

  @include flex-between;
  align-items: flex-start;
}

.before-after__controls-item {
  display: block;
  padding: 0;
  margin: 0;

  @include title ($size:16px, $line:20px);

  text-transform: uppercase;
  color: $gray-font-design;
  cursor: pointer;
}

.before-after__range-toggle {
  position: relative;
  transform: translateY(0.3em);
  width: 83px;
  height: 12px;
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 0 1px $gray-205;

  &::after {
    content: "";
    position: absolute;
    top: 25%;
    width: 35px;
    height: 6px;
    background: $green;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .before-after__toggle-after:checked ~ .before-after__slider .before-after__img--after {
    display: block;
  }

  .before-after__toggle-before:checked ~ .before-after__slider .before-after__img--before {
    display: block;
  }

  .before-after__toggle-before:checked ~ .before-after__controls .before-after__range-toggle::after {
    left: 5%;
  }

  .before-after__toggle-after:checked ~ .before-after__controls .before-after__range-toggle::after {
    left: 53%;
  }
}

//_________TABLET___________/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $tablet-width) {
  .before-after {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
    padding-bottom: 68px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 461px;
      bottom: 0;
      z-index: -1;
      background-color: $background-color;
    }
  }

  .before-after__wrap {
    @include flex-between ($justify: flex-start);
    @include wrap;
  }

  .before-after__wrap-desc {
    padding: 0;
    width: 708px;
    display: flex;
    flex-wrap: wrap;
  }

  .before-after__title {
    width: 350px;
    margin-bottom: 65px;

    @include title ($size:60px, $line:60px);
  }

  .before-after__desc {
    width: 680px;
    margin-bottom: 64px;

    @include font-main ($size:16px, $line:24px);
  }

  .before-after__container {
    width: 366px;
    padding-top: 4px;
    margin-bottom: 68px;
  }

  .before-after__table {
    width: 162px;

    &::after {
      width: 162px;
      height: 72px;
      top: -16px;
    }
  }

  .before-after__table-desc {
    margin-bottom: 10px;

    @include title ($size:30px, $line:37px);
  }

  .before-after__sub-desc {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0 10px;
    background-color: $white;

    @include font-main ($size:14px, $line:14px);
  }

  .before-after__price {
    margin: 0;
    margin-left: 150px;
    padding: 0;
    width: 190px;
    text-align: right;

    @include title ($size:20px, $line:20px);
  }

  .before-after__price span {
    display: block;
    padding-top: 8px;
  }

  .before-after__wrap-slider {
    width: 100%;
  }

  .before-after__slider {
    width: 100%;
    min-height: 520px;
    margin: 0;
    position: relative;
    margin-bottom: 12px;
    margin-left: 15px;
  }

  .before-after__img {
    display: block;
    position: absolute;
    height: 100%;
    top: -3px;
    overflow: hidden;
    width: 50%;
  }

  .before-after__img--before {
    left: 0;
    width: 48%;
  }

  .before-after__img--after {
    right: 15px;
  }

  .before-after__img--before img {
    left: 0;
  }

  .before-after__img--after img {
    right: 0;
  }

  .before-after__img img {
    height: 100%;
    max-width: none;
    position: absolute;
  }

  .before-after__controls {
    width: auto;
    padding: 0 69px;
  }

  .before-after__controls-item {
    padding-bottom: 8px;
    font-size: 20px;
    border-bottom: 1px dotted rgb(190, 190, 190);

    &:hover,
    &:focus {
      border-bottom: 1px solid rgb(152, 152, 152);
    }

    &:active {
      border: none;
    }
  }

  .before-after__range-toggle {
    width: auto;
    margin: 0 19px;
    top: 0.3em;
    height: 6px;
    background: rgb(220, 220, 220);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    flex-grow: 1;
    cursor: pointer;

    &::after {
      left: 50%;
      transform: translateX(-50%);
      top: -200%;
      width: 32px;
      height: 32px;
      background: $green;
      border: 12px solid $white;
      border-radius: 50%;
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.15),
        0 2px 5px 1px rgba(0, 0, 0, 0.15);
    }

    &:hover::after,
    &:focus::after {
      box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.15),
        0 3px 5px 1px rgba(0, 0, 0, 0.25);
    }

    &:active::after {
      box-shadow:
        0 0 0 2px $green,
        0 3px 5px 1px rgba(0, 0, 0, 0.3);
    }
  }
}

//_________DESKTOP___________/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: $desktop-width) {
  .before-after {
    @include flex-between;
    width: 1300px;
    margin-bottom: 70px;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 465px;
      bottom: -71px;
      z-index: -1;
      background-color: $background-color;
    }
  }

  .before-after__wrap {
    @include flex-between;
  }

  .before-after__title {
    padding-top: 80px;
    margin-bottom: 140px;
  }

  .before-after__wrap-desc {
    @include flex-between;
    width: 570px;
    margin-right: 40px;
  }

  .before-after__desc {
    width: 433px;
    margin-bottom: 76px;
  }

  .before-after__sub-desc {
    background-color: $background-color;
  }

  .before-after__container {
    margin-bottom: 37px;
  }

  .before-after__price {
    margin-left: 0;
    width: 327px;

    @include flex-between;
  }

  .before-after__price span {
    padding-top: 0;
  }

  .before-after__wrap-slider {
    @include flex-between;
    align-content: center;
    width: 583px;
    padding-top: 25px;
  }

  .before-after__slider {
    margin-bottom: 38px;
    margin-left: 0;
  }

  .before-after__img {
    margin-bottom: 45px;
  }

  .before-after__img--before {
    left: -67px;
    width: 63%;
  }

  .before-after__img--after {
    right: -41px;
    width: 56%;
  }

  .before-after__controls {
    width: 610px;
    margin: 0;
    padding: 0;
    padding-left: 12px;
  }

  .before-after__controls-item {
    padding-bottom: 5px;
  }

  .before-after__range-toggle {
    margin: -4px 21px;
  }
}
