.before-after {
  background-color: rgb(242, 242, 242);
}

.before-after__title {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-family: $font-design;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: rgb(17, 17, 17);
}

.before-after__desc {}

.before-after__container {}

.before-after__table {}

.before-after__descr {}

.before-after__sub-descr {}

.before-after__price {}

.before-after__slider {}

.before-after__img {}

.before-after__img--before {}

.before-after__img--after {}

.before-after__controls {}

.before-after__controls-item {}
