.catalog {
  padding: 0;
  margin: 0;
}

.catalog__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  @include title ($size:36px, $line:60px);
  color: $gray-font-design;
}

.catalog__main-products {
  margin-bottom: 30px;
  border-bottom: $border-lite;
}

.catalog__main-list {
  @include list-reset;
  margin-bottom: 25px;
}

.catalog__main-item {
  border-top: $border-lite;

  &:nth-last-child {
    border-bottom: $border-lite;
  }
}

.catalog__main-item--more {
  padding-top: 24px;
}

.catalog__article {
  padding: 0;
  margin: 0;
}

.catalog__more {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 58px;
  margin-bottom: 10px;
  text-align: center;

  @include title ($size:16px, $line:20px);
  text-transform: uppercase;
  color: $gray-font-design;
}

.catalog__more-desc {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;

  @include font-main ($size:12px, $line:16px);
  color: $gray-font-main;
}

.catalog__event {
  min-height: 290px;
  margin-bottom: 36px;
  padding-top: 65px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-color: $green;
}

.catalog__event-desc {
  display: block;
  width: 165px;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  margin-left: 50%;
  padding-top: 125px;
  transform: translateX(-50%);
  text-align: center;

  @include font-main ($size:16px, $line:20px);
  color: $white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 50px;
    top: 0;
    left: 25px;
    transform: translateX(50%);
    background-image: url("../../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
}

//_________TABLET__________////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $tablet-width) {
  .catalog__title {
    margin-bottom: 90px;

    @include title ($size:60px, $line:60px);
  }

  .catalog__main-products {
    margin: 0;
    border: none;
  }

  .catalog__main-list {
    margin-bottom: 71px;
    width: 708px;

    @include flex-between;
  }

  // .catalog__main-item {
  //   width: 324px;
  //   border: $border-lite;
  //   border-color: $background-color;

  //   &:nth-last-child {
  //     border-color: $background-color;
  //   }
  // }

  // .catalog__main-item--more {
  //   padding-top: 60px;
  //   border: $border-lite;
  //   background-color: white;
  // }

  // .catalog__article {
  //   padding: 0;
  //   margin: 0;
  //   background-color: $background-color;
  // }
}

//
//
//
//
//
//_________DESKTOP___________/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//
//
//
//
// @media (min-width: $desktop-width) {

// }
