.catalog {}

.catalog__title {
  display: block;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-family: $font-design;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: rgb(17, 17, 17);
}

.catalog__main-products {}

.catalog__main-list {}

.catalog__main-item {}

.catalog__article {}

.catalog__more {}

.catalog__more-desc {}

.catalog__event {}

.catalog__event-desc {}
