.contacts {
  background-color: $white;
}

.contacts__title {
  padding: 0;
  margin: 0;
  text-align: left;

  @include title ($size:16px $line:20px);
  color: $black;
  text-transform: uppercase;
}

.contacts__adress {
  padding: 0;
  margin: 0;
  text-align: left;

  @include font-main ($line:20px);
  color: $black;
  font-style: normal;
}

.contacts__map {
  position: relative;
}

.contacts__map-img {
  margin: 0;
  padding: 0;
}

.contacts__map-iframe {
  position: absolute;
  top: 0;
}
