.contacts {
  background-color: rgb(255, 255, 255);
}

.contacts__title {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.contacts__adress {
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-style: normal;
}

.contacts__map {
  position: relative;
}

.contacts__map-img {
  margin: 0;
  padding: 0;
}

.contacts__map-iframe {
  position: absolute;
  top: 0;
}
