.footer {
  @include font-main;
  color: $black;
}

.footer__wrap {
  background-color: $background-color;
}

.footer__wrap-flex {
  @include wrap-mobile;
}

.footer__logo {
  display: block;
  height: auto;
  padding: 0;
  padding-top: 39px;
  padding-right: 70px;
  padding-bottom: 27px;
  padding-left: 76px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright {
  @include flex-between;
  width: 280;
  padding: 0;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

  &:hover .footer__icon,
  &:focus .footer__icon {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__icon {
  fill: rgb(102, 102, 102);
}

.footer__academy {
  padding: 0;
  margin: 0;
  text-align: left;

  @include font-main ($size:16px, $line:16px);
  color: $gray-font-main;
}

@media (min-width: $tablet-width) {
  .footer__wrap-flex {
    @include wrap;
    @include flex-between;
    padding-top: 55px;
    padding-bottom: 62px;
    align-items: center;
  }

  .footer__logo {
    padding: 0;
    flex-grow: 1;
  }

  .footer__cocial {
    flex-grow: 1;
  }

  .footer__academy {
    text-align: left;
    padding-bottom: 6px;
  }

  .footer__copyright {
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    background-color: transparent;
    position: relative;
  }

  .footer__wrap-flex {
    width: $desktop-width;
    padding-top: 53px;
    justify-content: flex-start;
  }
}
