.footer {
  background-color: rgb(242, 242, 242);

  &__wrap {}

  &__logo {
    padding: 0;
    margin: 0;
  }

  &__copyright {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(68, 68, 68);
  }
}
