.form {
  @include font-main;
  color: $black;
}

.form__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  text-align: left;

  @include title ($size:36px, $line:60px);
  color: $gray-font-design;
}

.form__desc {
  display: block;
  width: 230px;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  text-align: left;

  @include title ($size:14px, $line:18px);
  text-transform: uppercase;
  color: $gray-font-design;
}

.form__form {
  margin: 0;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  @include flex-between;
}

.form__label {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 15px;
  text-align: left;

  @include title ($size:16px, $line:18px);
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

.form__input {
  width: 140px;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-grow: 1;
  border: $border-input;

  @include title ($size:16px, $line:18px);
  color: $gray-font-main;
  text-transform: uppercase;
}

.form__targets {
  display: block;
  border: none;
  border-top: $border-input;
  border-bottom: $border-input;
}

.form__label-radio {
  display: block;
  padding-left: 45px;

  @include title ($size:16px, $line:18px);
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

.form__legend {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-right: 24px;

  @include green-title;
}

.form__input-textarea {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 32px;
  border: $border-input;

  @include title ($size:16px, $line:18px);
  color: $gray-font-main;
  text-transform: uppercase;
}

.form__label-checkbox {
  display: block;
  padding-left: 45px;

  @include title ($size:16px, $line:18px);
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

.form__required {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  @include font-main ($line:16px);
  color: $gray-font-main;
}
