.form {
  @include font-main;
  color: $black;
}

.form__title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  margin-bottom: 25px;
  text-align: left;

  @include title ($size:36px, $line:60px);
  color: $gray-font-design;
}

.form__desc {
  width: 235px;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  text-align: left;

  @include title ($size:14px, $line:18px);
  text-transform: uppercase;
  color: $gray-font-design;
}

.form__form {
  margin: 0;
}

.form__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.form__wrap {
  @include flex-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  flex-wrap: nowrap;

  &--flex {
    padding-top: 6px;
    margin-bottom: 32px;
  }
}

.form__icon-email {
  display: block;
  position: absolute;
  right: 16px;
  z-index: 1;
  fill: rgb(34, 34, 34);
}

.form__input:active + .form__icon-email,
.form__input:focus + .form__icon-email {
  fill: $green;
}

.form__input:invalid + .form__icon-email {
  fill: rgb(255, 130, 130);
}

.form__icon-tel {
  display: block;
  position: absolute;
  right: 13px;
  z-index: 1;
  fill: rgb(34, 34, 34);
}

.form__input:active + .form__icon-tel,
.form__input:focus + .form__icon-tel {
  fill: $green;
}

.form__input:invalid + .form__icon-tel {
  fill: rgb(255, 130, 130);
}

.form__input:invalid {
  border: 1px solid rgb(255, 130, 130);
  box-shadow: 0 0 0 1px rgb(255, 130, 130);
}

.form__wrap-mobile {
  @include wrap-mobile;
  margin-bottom: 21px;
}

.form__wrap-desktop {
  margin-bottom: 27px;
}

.form__label {
  width: auto;
  margin: 0;
  padding: 0;
  margin-right: 13px;
  text-align: left;
  // flex-shrink: 0;

  @include title ($size:16px, $line:18px);
  color: rgb(34, 34, 34);
  text-transform: uppercase;
}

.form__input {
  // width: auto;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
  // flex-shrink: 3;

  @include title ($size:16px, $line:18px);
  color: $gray-font-main;
  text-transform: uppercase;

  &::placeholder {
    color: rgb(68, 68, 68);
    text-overflow: ellipsis;
  }

  &--icon {
    position: relative;
    padding-left: 13px;
    padding-right: 13px;
  }

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    border: 1px solid rgba(68, 68, 68, 1);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 1);
  }
}

.form__input--invalid {
  border: 1px solid rgb(255, 130, 130);
  box-shadow: 0 0 0 1px rgb(255, 130, 130);

  & + .form__icon-email {
    fill: rgb(255, 130, 130);
  }

  & + .form__icon-tel {
    fill: rgb(255, 130, 130);
  }
}

.form__targets {
  display: block;
  padding-top: 26px;
  padding-bottom: 0;
  margin-bottom: 29px;
  border: none;
  border-top: $border-input;
  border-bottom: $border-input;
}

.form__label-radio {
  display: block;
  padding-left: 33px;
  margin-bottom: 25px;
  position: relative;

  @include title ($size:16px, $line:18px);
  color: rgb(34, 34, 34);
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: -12px;
    transform: translateY(-50%);
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 9px solid $white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $gray-205;
  }

  .form__targets input:checked + &::before {
    background-color: $green;
  }

  .form__targets input:disabled + &::before {
    opacity: 0.3;
  }

  .form__targets input:focus + &::before {
    box-shadow: 0 0 0 2px rgba(68, 68, 68, 1);
  }

  &:active {
    opacity: 0.3;
  }
}

.form__legend {
  @include green-title;
  margin-bottom: 34px;
  padding-right: 18px;
}

.form__input-textarea {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-right: 12px;
  padding-bottom: 45px;
  padding-left: 14px;
  margin-bottom: 25px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;

  @include title ($size:16px, $line:18px);
  color: $gray-font-main;
  text-transform: uppercase;

  &::placeholder {
    color: rgb(68, 68, 68);
    text-overflow: ellipsis;
  }

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:active,
  &:focus {
    border: 1px solid rgba(68, 68, 68, 1);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 1);
  }
}

.form__label-checkbox {
  display: block;
  padding-left: 46px;
  margin-bottom: 24px;

  @include title ($size:16px, $line:18px);
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: $white;
    box-shadow: 0 0 0 1px $gray-205;
  }

  .form__fieldset input:checked + &::before {
    background-image: url("../../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px 16px;
  }

  .form__fieldset input:disabled + &::before {
    opacity: 0.3;
  }

  .form__fieldset input:focus + &::before {
    box-shadow: 0 0 0 2px rgba(68, 68, 68, 1);
  }

  &:active {
    opacity: 0.3;
  }
}

.form__submit {
  width: 100%;
  margin-bottom: 23px;
}

.form__required {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  @include font-main ($line:16px);
  color: $gray-font-main;
}

@media (min-width: $tablet-width) {
  .form__submit {
    @include title ($size:20px, $line:20px);
    padding-top: 17px;
    padding-right: 27px;
    padding-bottom: 18px;
    padding-left: 29px;
    margin-bottom: 10px;
  }
}

//_________TABLET__________////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $tablet-width) {
  .form__title {
    width: 450px;
    padding-top: 42px;
    margin-bottom: 55px;

    @include title ($size:60px, $line:60px);
  }

  .form__desc {
    width: 330px;
    margin-left: 40px;
    margin-bottom: 66px;

    @include title ($size:20px, $line:30px);
  }

  .form__form {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 73px;
  }

  .form__fieldset {
    margin-bottom: 52px;
  }

  .form__wrap {
    margin-bottom: 19px;

    &--flex {
      padding: 0;
      padding-top: 11px;
      width: 670px;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  .form__wrap-mobile {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .form__wrap-desktop {
    margin: 0;
  }

  .form__wrap--icon:nth-last-of-type(1) {
    margin-bottom: 14px;
  }

  .form__label {
    padding-top: 16px;
    padding-bottom: 17px;
    margin-right: 20px;

    @include title ($size:20px, $line:20px);
  }

  .form__input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    @include title ($size:20px, $line:20px);

    &--icon {
      padding-right: 55px;
    }
  }

  .form__targets {
    margin: 0;
    padding-top: 34px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 77px;
    border: $border-input;
  }

  .form__label-radio {
    padding-left: 57px;
    margin-bottom: 33px;

    @include title ($size:20px, $line:20px);

    &::before {
      left: 0;
      width: 38px;
      height: 38px;
      border: 10px solid $white;
    }
  }

  .form__legend {
    @include green-title;
    margin-bottom: 74px;
    margin-left: -40px;
    font-size: 36px;
    line-height: 36px;

    &--checkbox {
      margin-bottom: 0;
    }
  }

  .form__input-textarea {
    padding-top: 10px;
    padding-right: 19px;
    padding-bottom: 13px;
    padding-left: 19px;
    margin-bottom: 10px;

    @include title ($size:20px, $line:30px);
  }

  .form__label-checkbox {
    width: 325px;
    padding-left: 60px;
    margin-bottom: 0;
    margin-top: 53px;

    @include title ($size:20px, $line:20px);

    &::before {
      width: 38px;
      height: 38px;
    }
  }

  .form__submit {
    display: inline-block;
    width: 285px;
    margin-bottom: -3px;

    @include title ($size:20px, $line:20px);
    padding-top: 17px;
    padding-right: 27px;
    padding-bottom: 18px;
    padding-left: 29px;
  }

  .form__required {
    margin: 0;
    width: 324px;
    text-align: left;
    margin-bottom: 0;

    @include font-main ($size:16px, $line:16px);
  }
}

//_________DESKTOP___________/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 5px;
  }

  .form__title {
    padding-top: 46px;
  }

  .form__desc {
    width: 330px;
    margin-left: 0;
  }

  .form__form {
    padding-left: 0;
    margin-bottom: 80px;
  }

  .form__fieldset {
    margin: 0;

    &--small {
      width: 570px;
      margin: 0;
    }
  }

  .form__wrap {
    width: 570px;

    &--icon {
      margin-bottom: 0;
    }

    &--flex {
      width: 1220px;
      justify-content: flex-start;
    }

    &:last-child {
      margin: 0;
    }
  }

  .form__wrap-desktop {
    width: 1220px;
    margin-bottom: 68px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .form__icon-email {
    right: 20px;
    top: 22px;
  }

  .form__icon-tel {
    right: 19px;
    top: 19px;
  }

  .form__targets {
    margin: 0;
    width: 570px;
  }

  .form__input-textarea {
    width: 1220px;
    margin-bottom: 66px;
  }

  .form__label-checkbox {
    width: 245px;
    margin-bottom: 59px;
    margin-right: 80px;

    &:nth-of-type(4n+4) {
      margin-right: 0;
    }
  }

  .form__submit {
    width: 570px;
    margin-right: 80px;
  }

  .form__required {
    width: 570px;
  }
}
