@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2"),
    url("../fonts/oswaldregular.woff");
  font-weight: 400;
  font-display: swap;
}

body {
  min-width: $mobile-width;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  @include visually-hidden;
}

.wrap {
  @include wrap;
}

.green-title-wrap {
  @include green-title-wrap;
}
