.main-good {
  @include wrap-mobile;
  padding-bottom: 24px;
  background-color: transparent;

  @include flex-between;
  align-items: flex-start;
}

.main-good__img-link {
  padding: 0;
  margin: 0;
  margin-bottom: -4px;
}

.main-good__wrap {
  width: 140px;
}

.main-good__title-link {
  width: 140px;
  padding: 0;
  margin: 0;
}

.main-good__title {
  width: 87px;
  padding: 0;
  padding-top: 21px;
  margin: 0;
  margin-bottom: 11px;
  text-align: left;

  @include title ($size:16px, $line:20px);
  color: $gray-font-design;
  text-transform: uppercase;
}

.main-good__table {
  width: 140px;
  padding: 0;
  margin: 0;
}

.main-good__table-row {
  @include flex-between;
  @include font-main ($size:12px, $line:16px);
  color: $gray-font-main;
}

.main-good__table-name {
  padding: 0;
  margin: 0;
  text-align: left;
}

.main-good__table-quantity {
  padding: 0;
  margin: 0;
  text-align: right;
}

.main-good__btn {
  width: 100%;
  margin: 0;
}

//_________TABLET__________////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $tablet-width) {
  .main-good {
    width: 324px;
    height: 100%;
    margin: 0;
    padding-top: 129px;
    padding-bottom: 38px;
    padding-left: 38px;
    padding-right: 38px;
    justify-content: center;
    position: relative;
    background-color: $background-color;
  }

  .main-good__img-link {
    position: absolute;
    bottom: 71%;
  }

  .main-good__img-link img {
    width: 320px;
    height: auto;
  }

  .main-good__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-good__title {
    width: 141px;
    margin-bottom: 18px;
    padding-top: 32px;
    text-align: center;

    @include title ($size:20px, $line:20px);
  }

  .main-good__table {
    width: 100%;
    margin-bottom: 32px;
    border-collapse: collapse;
  }

  .main-good__table-row {
    @include font-main ($size:16px, $line:16px);
    border-bottom: 1px solid $gray-205;
    
  }

  .main-good__table-name {
    padding-top: 7px;
    padding-bottom: 9px;
  }

  .main-good__table-quantity {
    padding-top: 7px;
    padding-bottom: 9px;
  }
}

//_________DESKTOP___________/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: $desktop-width) {
  .main-good {
    width: 245px;
  }

  .main-good__img-link img {
    width: 250px;
    height: auto;
  }
}
