.promo {

  margin-bottom: 23px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 307px;
    background-image: url("../../img/index-background-mobile@1x.jpg");
    background-color: rgb(101, 169, 60);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../../img/index-background-mobile@2x.jpg");
      background-size: cover;
    }
  }
}

.promo__wrap {
  @include wrap-mobile;
}

.promo__title {
  padding: 0;
  margin: 0;
  padding-top: 28px;
  margin-bottom: 24px;
  text-align: center;

  @include title ($size:36px, $line:36px);
  color: $white;
}

.promo__slogan {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  text-align: center;

  @include title ($size:14px, $line:14px);
  color: $white;
  text-transform: uppercase;
}

.promo__btn {
  @include title ($size:14px, $line:18px);
  padding-top: 11px;
  padding-right: 27px;
  padding-bottom: 10px;
  padding-left: 29px;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    margin-bottom: 4px;

    &::before {
      background-image: none;
      background-color: transparent;
    }
  }

  .promo__wrap {
    width: auto;
    padding: 0;
    margin: 0;
    padding-left: 90px;
  }

  .promo__title {
    @include title ($size:60px, $line:60px);
    width: 425px;
    padding-top: 42px;
    margin-bottom: 42px;
    text-align: left;
    color: $black;
  }

  .promo__slogan {
    @include title ($size:20px, $line:20px);
    text-align: left;
    color: $black;
    margin-bottom: 47px;
  }

  .promo__img {
    position: absolute;
    width: 709px;
    height: auto;
    z-index: -1;
    bottom: -3px;
    left: 29px;
  }

  .promo__btn {
    @include title ($size:20px, $line:20px);
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    margin-bottom: 525px;
     padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 24px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: static;
    margin-bottom: 217px;

    &::before {
      z-index: -2;
      width: 50%;
      height: 696px;
      right: -6px;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-color: rgb(101, 169, 60);
      background-position-x: 0;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__wrap {
    padding-left: 80px;
    position: relative;
  }

  .promo__title {
    padding: 0;
    padding-top: 80px;
  }

  .promo__slogan {
    margin-bottom: 53px;
  }

  .promo__img {
    width: 552px;
    height: 499px;
    position: absolute;
    bottom: -32%;
    left: 37%;
  }

  .promo__btn {
    position: static;
    margin-bottom: 10px;
  }
}
