.social {
  @include flex-between ($justify: center);
  @include list-reset;
  padding-top: 22px;
  padding-right: 73px;
  padding-bottom: 8px;
  padding-left: 70px;
  margin: 0 auto;
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
}

.social__item {
  margin-right: 33px;
  margin-bottom: 10px;

  &:nth-child(3n+3) {
    margin-right: 0;
  }
}

.social__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;

  &:hover,
  &:focus {
    .social__icon {
      fill: $green;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  fill: rgb(102, 102, 102);
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border: none;
  }

  .social__item {
    margin-right: 22px;
    margin-bottom: 9px;
  }

  .social__btn {
    width: 30px;
    height: 30px;
  }

  .social__icon {
    width: 30px;
    height: 27px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    border: none;
  }
}
