.targets {
  margin-bottom: 15px;

  @include wrap;
}

.targets__wrap {
  margin-bottom: 20px;
  background-color: $background-color;
  padding: 22px;
}

.targets__title {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-left: 75px;
  padding-bottom: 15px;

  @include title ($size:24px, $line:37px);
  color: $gray-font-design;
  text-transform: uppercase;
}

.targets__title--slim {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 49px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../img/icon-cat-slim.svg");
    background-position: 50%, 50%;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $green;
  }
}

.targets__title--plump {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../img/icon-cat-pro.svg");
    background-position: 50%, 50%;
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $green;
  }
}

.targets__desc {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  @include font-main ($size:14px, $line:18px);
  color: $gray-font-main;
}

.targets__link {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  border-top: 1px solid rgb(217, 217, 217);

  @include title ($size:16px, $line:16px);
  color: $gray-font-design;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .targets__wrap {
    background-color: $background-color;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 35px;
  }

  .targets__title {
    @include title ($size:36px, $line:37px);
    position: static;
    padding: 0;
    margin-bottom: 30px;
  }

  .targets__title--slim,
  .targets__title--plump {
    &::before {
      width: 200px;
      height: 200px;
      left: 62%;
      top: 53%;
    }
  }

  .targets__title--slim {
    &::after {
      width: 150px;
      height: 200px;
      left: 65%;
    }
  }

  .targets__title--plump {
    &::after {
      width: 267px;
      height: 118px;
      left: 57%;
      top: 53%;
    }
  }

  .targets__desc {
    @include font-main ($size:16px, $line:24px);
    margin-bottom: 65px;
    width: 375px;
  }

  .targets__desc--tablet {
    width: 343px;
  }

  .targets__link {
    @include title ($size:20px, $line:20px);
    display: block;
    width: 158px;
    padding-top: 0;
    border: none;
    position: relative;
    margin-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 11px;
      background-image: url("../../img/icon-right-arrow-long.svg");
      right: 0;
      top: 25%;
    }
  }
}

@media (min-width: $desktop-width) {
  .targets {
    width: 1300px;
    padding: 40px;

    @include flex-between;
    margin-bottom: 50px;
  }

  .targets__wrap {
    width: 570px;
    background-color: $background-color;
    position: static;
    margin-bottom: 25px;
  }

  .targets__title {
    position: relative;
    padding-left: 160px;
    margin-bottom: 80px;
  }

  .targets__title--slim,
  .targets__title--plump {
    &::before {
      width: 100px;
      height: 100px;
      left: 0;
    }
  }

  .targets__title--slim {
    &::after {
      width: 70px;
      height: 97px;
      left: 15px;
      top: 15px;
    }
  }

  .targets__title--plump {
    &::after {
      width: 134px;
      height: 56px;
      left: -20px;
      top: 22px;
    }
  }

  .targets__desc {
    margin-bottom: 35px;
    width: 467px;
  }

  .targets__link {
    @include title ($size:20px, $line:20px);
    display: block;
    width: 158px;
    padding-top: 0;
    border: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 11px;
      background-image: url("../../img/icon-right-arrow-long.svg");
      right: 0;
      top: 25%;
    }
  }
}
