$font-main: "Arial", sans-serif;
$font-design: "Oswald", "Arial", sans-serif;
$green: rgb(104, 183, 56);
$white:rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$border-lite: 1px solid rgb(237, 237, 237);
$border-input: 1px solid rgb(230, 230, 230);
$background-color: rgb(242, 242, 242);
$gray-font-main: rgb(68, 68, 68);
$gray-font-design: rgb(17, 17, 17);
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
